*.bak
/.internal_hwconfig
/.pdm
/.settings
/adc
/aes-cmac
/antenna-stub
/basic
/ccm-encryption
/coexistence-stub
/counters
/debug-basic-library
/debug-jtag
/efr32
/ember-minimal-printf
/emdrv
/emlib
/external-generated-files
/GNU ARM v10.2.1 - Default
/hal-library
/identify
/interpan
/mbedtls
/network-steering
/nvm3
/on-off
/reporting
/scan-dispatch
/scenes
/serial
/simple-main
/strong-random
/update-tc-link-key
/zcl-framework-core